@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #111;
}
html::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: grey;
  font-size: 2rem;
}
.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: grey;
  border: 0.2rem solid grey;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: grey;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: grey;
}
.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.logo i {
  color: grey;
  padding-right: 0.5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 9rem auto 0;
  width: 90%;
  border-radius: 1rem;
  background-size: cover;
  background:  url(../images/home-bg.jpg) ;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.home .content {
  text-align: center;
}
.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}
.home .content h3 {
  font-size: 6vw;
  color: #fff;
}
.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.book-form {
  width: 80%;
  margin: -5rem auto 1rem;
  background: #222;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}
.book-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.book-form form .inputBox {
  flex: 1 1 25rem;
}
.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #aaa;
}
.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid grey;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
.book-form form .btn {
  flex: 1 1 15rem;
}

.acote .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.acote .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}
.acote .box-container .box:hover img {
  transform: scale(1.1);
}
.acote .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.acote .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.acote .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.acote .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}
.acote .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.acote .box-container .box .content a {
  font-size: 1.7rem;
  color: grey;
}
.acote .box-container .box .content a:hover i {
  padding-left: 1rem;
}
.acote .box-container .box .content a i {
  padding-right: 0.5rem;
}

.evenements .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.evenements .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}
.evenements .box-container .box:hover {
  border: 0.2rem solid grey;
}
.evenements .box-container .box i {
  font-size: 4rem;
  color: grey;
  margin-bottom: 2rem;
}
.evenements .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}
.evenements .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.galerie .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;
}
.galerie .box-container .box {
  margin-bottom: 1rem;
  break-inside: avoid;
}
.galerie .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.galerie .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.banner {
  background-size: cover;
  padding: 3rem 2rem;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)) url(../images/banner-bg.jpg) no-repeat fixed center;
  text-align: center;
}
.banner .content span {
  font-size: 2rem;
  color: grey;
}
.banner .content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}
.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
}
.footer .box-container .box .logo {
  padding-bottom: 1rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: grey;
}
@media (max-width: 991px) {
  .footer .box-container .box html {
    font-size: 55%;
  }
  .footer .box-container .box .header {
    padding: 1.5rem 2rem;
  }
  .footer .box-container .box section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .footer .box-container .box #menu-btn {
    display: inline-block;
  }
  .footer .box-container .box .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .footer .box-container .box .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .footer .box-container .box .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .footer .box-container .box .home {
    margin-top: 10rem;
  }
  .footer .box-container .box .home .content span {
    font-size: 8vw;
  }
  .footer .box-container .box .home .content h3 {
    font-size: 9vw;
  }
}
@media (max-width: 450px) {
  .footer html {
    font-size: 50%;
  }
  .footer .banner .content h3 {
    font-size: 2.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
